.settlement-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settlements-title {
  display: flex;
  align-items: center;
  background-color: rgb(238, 248, 248);
  height: 100%;
}
