.settlements-container {
  display: flex;
  flex-direction: column;
  margin-top: 10vh 0vh;
}

.settlements-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #29648a;
}

.settlements-list-of-settlements {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid black;
  background-color: #29648a;
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
  border: 1px solid black;
}

li {
  list-style: none;
}
