.settlements-container {
    display: flex;
    flex-direction: column;


}

.settlements-title {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.settlements-list-of-settlements {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
}

li {
    list-style: none;
}