.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin-top: 10vh;
  align-items: center;
}
.user-info {
  line-height: 1em;
}
.user-info > p {
  font-size: larger;
  text-align: center;
}

.dashboard-title {
  display: flex;
  justify-content: center;
  background-color: rgb(238, 248, 248);
  align-items: center;
  margin-top: 10vh;
  height: 10vh;
}
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.dashboard-layout {
  display: flex;
  justify-content: space-evenly;
}

.settlements {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
}

a {
  color: rgb(111, 109, 42);
}

.settlementItem {
  display: flex;
  width: 50vw;
  border: 1px solid rgb(177, 177, 169);
  margin: 0 0 1em 0;
  background-color: #29648a;
  border-radius: 15px;
}
.settlementItem > div {
  padding: 5px;
}
.settlementItem > div > h4 {
  margin-right: 5em;
  margin-left: 3em;
}

.distributions {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #29648a;
  margin: 0 1em;
  box-shadow: 0px 0px 5px 0px #29648a;
  border: 1px solid #29648a;
  border-radius: 15px;
}

.distributionItem {
  display: flex;
  justify-content: space-between;
  margin: 0.2em;
  padding: 0 1em;
}

.distributionItem > span {
  width: 100px;
}

.dashboard-description {
  font-size: x-large;
}

.dashboard-container-notLoggedIn {
  display: flex;
  flex-direction: row;
}

.dashboard-item {
  width: 45vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

img {
  margin-top: 3em;
  margin-left: 3em;
  width: 45vw;
}
