.profile-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.profile-title {
  display: flex;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.profile-form {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 50vw;
}

.profile-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #29648a;
  border-radius: 15px;
}
